/* CONTAINER */
.container { width: 1100px; margin: 0 auto; }
/* Header-bg-image */
.header-bg-image{
    background: linear-gradient(rgba(0, 35, 71, 0.8)), url("../img/banner.jpg")center/cover;
    height: 55vh;}
/* NAVBAR */
#all-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;}
nav a,.fa-search{
    color:#fff;
    font: 600 14px arial;
    text-transform: capitalize;
    transition: .4s;
    cursor: pointer;}
.fa-search { margin-left: 40px; }
nav a:hover,.fa-search:hover{ color: #fdc632; }
.dropdown{
    position: relative;
    display: inline-block;}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  display: block;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
/* header-content */
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.header-content h2{
    font: 600 45px arial;
    color: #fff;
}
.choose-section{
    margin-top:10px;
}
.choose-section a{
    font: 400 16px arial;
    color: #fff;
}
/* section */
section{
    padding: 100px 0;
}
.courses-about{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
.title{
    font: 400 21px arial;
    border-bottom: 2px solid #eee;
    margin: 40px 0 22px;
    padding: 0 0 10px 0;
}
.content-details{
    font: 400 16px arial;
    color: #7b838a;
    width: 650px;
    line-height: 25px;
}
.left-courses-about{
    width: 650px;
}
.courses-img img{
    width: 650px;
}
.details-list li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 600px;
    padding: 0 0 0 50px;
}
.list-href a{
    padding: 17px 48px;
    background-color: #f9f9f9;
    text-transform: uppercase;
    font: 600 12px arial;
    color: #7b838a;
    transition: .5s;
}
.list-href a:hover{
    background-color: #fdc632;
    color: #fff;
}
.right-courses-about{
    width: 300px;
}
.comment-text p{
    width: 250px;
}
/* right-contents */
.right-courses-about ul li{
    list-style: none;
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.trainer-about-one{
    display: flex;
    justify-content: space-between;
    color: #7b838a;
    font: 500 16px arial
}
.george{
    color: #002347;
}
.enroll-the-course{
    padding: 15px 75px;
    background-color: #002347;
    color: #eee;
    margin-top:50px;
    text-transform: uppercase;
    font: 400 13px arial;
}
ul{
    margin-bottom: 30px;
}
/* rating-area */
.content-details-one{
    font: 400 16px arial;
    color: #7b838a;
    width: 250px;
    line-height: 25px;
}
.rating-area h6,.feedback-area h6{
    color: #002347;
    font: 500 14px arial;
    margin: 10px 0;
}
.checked{
    color: #fdc632;
}
.rating-one{
    display: flex;
    justify-content: space-between;
    width: 320px;
    font-size: 14px;
}
.stars{
    margin-bottom: 10px;
}
/* textarea */
textarea{
    width: 300px;
    height: 130px;
    resize: none;
}
.submit-area{
   margin-top: 20px;
}
.feedback-submit{
    margin: 10px 160px;
    padding: 15px 50px;
    background-color: #002347;
    color: #fff;
    transition: .4s;
}
.feedback-submit:hover{
    background:transparent;
    border: 1px solid #002347;
}
.comment-area{
    margin-top: 50px;
    
}
.comment-about{
    display: flex;
    justify-content: space-between;
    width: 330px;
}
.comment-text h5{
    display: flex;
    gap:10px;
}
.comment-text a{
    font:500 16px arial;
    color:#002347
}
.stars {
    font-size: 16px;
}
.comment-text p{
    margin: 0 0 20px ;
}
/* Footer*/
.container { width: 1100px;margin: 0 auto; }
.footer-bg-color { background-color: #002347; padding: 100px 0;}
#all-footer-links{
    display: flex;
    justify-content: space-between;
}
.footer-links h2,.footer-subscribe h2{
    font: 600 20px arial;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #fff;
}
.footer-links li,.footer-subscribe p{ margin-bottom: 20px; }
.footer-links a,.footer-subscribe p{
    font: 500 16px arial;
    color: #7b838a;
    transition: .4s;
}
.footer-links a:hover { color: #fff; }
.footer-subscribe input{
    width: 250px;
    padding: 12px 0 12px 10px;
    border: 0;
    outline: none;
    background-color: #334f6c;
}
::placeholder { font: 500 14px arial; text-transform: capitalize; color: #7b838a; }
.subs{
    background-color: #fdc632;
    color: #002347;
    text-transform: uppercase;
    border: 0;
    padding: 10px 20px;
    font: 600 13px arial;
    cursor: pointer;
}
#all-footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.footer-copyRight p{
    color: #fff;
    font: 500 16px arial;
}
.footer-icons a{
    background-color: #334f6c;
    color: #cccccc;
    padding: 12px;
    transition: .4s;
}
.footer-icons a:hover { background-color: #fdc632; color: #002347; } 
