/* CONTAINER */
.container { width: 1100px; margin: 0 auto; }
/* Header-bg-image */
.header-bg-image{
    background: linear-gradient(rgba(0, 35, 71, 0.8)), url("../img/banner.jpg")center/cover;
    height: 55vh;}
/* NAVBAR */
#all-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;}
nav a,.fa-search{
    color:#fff;
    font: 600 14px arial;
    text-transform: capitalize;
    transition: .4s;
    cursor: pointer;}
.fa-search { margin-left: 40px; }
nav a:hover,.fa-search:hover{ color: #fdc632; }
.dropdown{
    position: relative;
    display: inline-block;}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  display: block;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
/* header-content */
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.header-content h2{
    font: 600 45px arial;
    color: #fff;
}
.choose-section{
    margin-top:10px;
}
.choose-section a{
    font: 400 16px arial;
    color: #fff;
}
/* welcome-institute-section */
section{
    padding: 100px 0;
}
.welcome-institute{
    display: flex;
    justify-content: space-between;
}
.welcome-image img{
    width: 550px;
}
.welcome-text{
    padding: 55px;
    width: 500px;
    border: 10px solid #f9f9f9;
}
.welcome-text h2{
    font: 500 30px arial;
    color: #002347;
    margin-bottom: 20px;
}
.welcome-text p{
    font: 400 16px arial;
    color: #7b838a;
    line-height: 25px;
}
.welcome-main{
    margin:30px 0 50px 0;
}
.welcome-text a{
    padding: 15px 50px;
    background-color: #fdc632;
    color: #002347;
    font: 400 16px arial;
    border-radius: 5px;
    transition: .4s;
}
.welcome-text a:hover{
    background-color: #002347;
    color: #fdc632;
}
/* feature-section */
.feature-bg-color{
    background-color: #002347;
    height: 600px;
}
.feature-title {
text-align: center;
padding-top: 130px;}
.feature-title h1{
    color: #fff;
    font: 600 36px arial;}
.feature-title p{
    color: #7B838A;
    font: italic 400 16px arial ;
    margin: 10px 0 70px 0;}
.feature-area{
    display: flex;
    justify-content: space-between;
    width: 1100px;  }
.feature-part{
    padding: 30px ;
    width: 288px;
    height: 150px;
    background-color: #f9f9f9;
    display: inline-block;}
.feature-part:hover{
    box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.1)}
.fa-graduation-cap, .fa-book,.fa-globe{
    font-size: 48px;
    color: #002347;}
.feature-part h2{
    margin: 20px 0 15px 0;
    font: 600 20px arial;
    color: #002347;}
.feature-part p{
    color: #7B838A;
    font: 300 16px arial;
    line-height: 24px;}
    /* client-section */
    .clients-title{
        text-align: center;
    }
    .clients-title h1{
    color: #002347;
    font: 600 36px arial;
    }
    .clients-title p{
    color: #7B838A;
    font: italic 400 16px arial ;
    margin: 10px 0 70px 0;
    }
    #clients-about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;;
}
.client-image-text{
    display: flex;
    width: 450px;
    box-shadow: 0px 15px 30px 0px rgba(221, 221, 221, 0.3);
    padding: 40px;
    transition: .5s;
}
.client-image-text:hover{box-shadow: 0px 10px 30px 0px rgba(0, 35, 71, 0.1)}
.client-text{margin: 0 30px;}
.client-text h2{
    font: 600 20px arial;
    color:#002347;
    margin-bottom: 20px;
}
.client-text p{
    color: #7B838A;
    font: 400 16px arial;
    line-height: 25px;
}
/* Footer*/
.container { width: 1100px;margin: 0 auto; }
.footer-bg-color { background-color: #002347; padding: 100px 0;}
#all-footer-links{
    display: flex;
    justify-content: space-between;
}
.footer-links h2,.footer-subscribe h2{
    font: 600 20px arial;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #fff;
}
.footer-links li,.footer-subscribe p{ margin-bottom: 20px; }
.footer-links a,.footer-subscribe p{
    font: 500 16px arial;
    color: #7b838a;
    transition: .4s;
}
.footer-links a:hover { color: #fff; }
.footer-subscribe input{
    width: 250px;
    padding: 12px 0 12px 10px;
    border: 0;
    outline: none;
    background-color: #334f6c;
}
::placeholder { font: 500 14px arial; text-transform: capitalize; color: #7b838a; }
.subs{
    background-color: #fdc632;
    color: #002347;
    text-transform: uppercase;
    border: 0;
    padding: 10px 20px;
    font: 600 13px arial;
    cursor: pointer;
}
#all-footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.footer-copyRight p{
    color: #fff;
    font: 500 16px arial;
}
.footer-icons a{
    background-color: #334f6c;
    color: #cccccc;
    padding: 12px;
    transition: .4s;
}
.footer-icons a:hover { background-color: #fdc632; color: #002347; } 
 